@model PlatformStatusTracker.Web.ViewModels.Home.ChangeSetsViewModel
@using PlatformStatusTracker.Core.Model
@using PlatformStatusTracker.Core.Data
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.Razor
@using System.Text.RegularExpressions
@using PlatformStatusTracker.Web.ViewModels.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PlatformStatusTracker.Web

@{
    Func<string, IHtmlContent> ToModernIePageFragment =
        @<text>@Regex.Replace(item.ToLowerInvariant(), @"\W", "")</text>;
    Func<WebKitPlatformStatus, IHtmlContent> WebKitUrl =
        @<text>
            @if (String.IsNullOrWhiteSpace(item.WebKitUrl))
            {
                <span class="changes_item-name">@item.Name</span>
            }
            else
            {
                <a class="changes_item-name" href="@item.WebKitUrl">@item.Name</a>
            }
        </text>;
    Func<MozillaPlatformStatus, IHtmlContent> MozillaUrl =
        @<text>
            @if (String.IsNullOrWhiteSpace(item.Slug))
            {
                <span class="changes_item-name">@item.Name</span>
            }
            else
            {
                <a class="changes_item-name" href="https://platform-status.mozilla.org/#@item.Slug">@item.Name</a>
            }
        </text>;
    Func<IePlatformStatus, IHtmlContent> EdgeUrl =
        @<text>
        @if (String.IsNullOrWhiteSpace(item.Name))
        {
            <span class="changes_item-name">@item.Name</span>
        }
        else
        {
            <a class="changes_item-name" href="https://developer.microsoft.com/en-us/microsoft-edge/platform/status/@ToModernIePageFragment(item.Name)">@item.Name</a>
        }
        </text>;
    Func<ChromiumPlatformStatus, IHtmlContent> ChromiumUrl =
        @<text>
        @if (String.IsNullOrWhiteSpace(item.BugUrl))
        {
            <span class="changes_item-name">@item.Name</span>
        }
        else
        {
            <a class="changes_item-name" href="@item.BugUrl">@item.Name</a>
        }
        </text>;
}
@functions
{
    string Value(int? value) => value.HasValue ? value.ToString() : "(n/a)";
    string Value(string value) => !String.IsNullOrWhiteSpace(value) ? value : "(n/a)";
    string Value(bool? value) => value.HasValue ? value.ToString() : "(n/a)";
}

@if (Model.IeChangeSet != null && Model.IeChangeSet.Changes.Any())
{
    <section>
        <h1><a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/status/"><img src="~/images/shared/Icon-Edge.png" alt="" p-visibility="@(!Model.HideIcon)" />Edge</a></h1>
        <ul class="changes">
            @foreach (var change in Model.IeChangeSet.Changes.Cast<IeChangeInfo>())
            {
                if (change.IsAdded)
                {
                    <li class="changes_item changes_item-Added">
                        <span class="changes_item-label">Added</span><span class="changes_item-label-sep">:</span> @EdgeUrl(change.NewStatus)
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new []
                            {
                                new ChangesTableRowViewModel("Status", change.NewStatus.IeStatus.Text),
                                new ChangesTableRowViewModel("Enabling in about:flags", change.NewStatus.IeStatus.Flag)
                            })
                        </table>
                    </li>
                }
                if (change.IsRemoved)
                {
                    <li class="changes_item changes_item-Removed">
                        <span class="changes_item-label">Removed</span><span class="changes_item-label-sep">:</span> @EdgeUrl(change.OldStatus)
                    </li>
                }
                if (change.IsChanged)
                {
                    <li class="changes_item changes_item-Changed">
                        <span class="changes_item-label">Changed</span><span class="changes_item-label-sep">:</span> @EdgeUrl(change.NewStatus)
                        @{ 
                            var (oldStatus, newStatus) = (change.OldStatus.IeStatus, change.NewStatus.IeStatus);
                        }
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", newStatus.Text, oldStatus.Text),
                                new ChangesTableRowViewModel("Priority", newStatus.Priority, oldStatus.Priority),
                                new ChangesTableRowViewModel("Prefixed", newStatus.IePrefixed, oldStatus.IePrefixed),
                                new ChangesTableRowViewModel("UnPrefixed", newStatus.IeUnprefixed, oldStatus.IeUnprefixed),
                                new ChangesTableRowViewModel("Enabling in about:flags", newStatus.Flag, oldStatus.Flag),
                            })
                        </table>
                    </li>
                }
                @*
                    <li>
                        NewStatus: @(change.NewStatus != null ? change.NewStatus.Id.ToString() : ""),
                        OldStatus: @(change.OldStatus != null ? change.OldStatus.Id.ToString() : "")
                    </li>
                *@
            }
        </ul>
    </section>
}
@if (Model.ChromeChangeSet != null && Model.ChromeChangeSet.Changes.Any())
{
    <section>
        <h1><a href="http://www.chromestatus.com/features"><img src="~/images/shared/Icon-Chromium.png" alt="" p-visibility="@(!Model.HideIcon)" />Chromium</a></h1>
        <ul class="changes">
            @foreach (var change in Model.ChromeChangeSet.Changes.Cast<ChromiumChangeInfo>())
            {
                if (change.IsAdded)
                {
                    <li class="changes_item changes_item-Added">
                        <span class="changes_item-label">Added</span><span class="changes_item-label-sep">:</span> @ChromiumUrl(change.NewStatus)
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[] { new ChangesTableRowViewModel("Status", change.NewStatus.Status) })
                        </table>
                    </li>
                }
                if (change.IsRemoved)
                {
                    <li class="changes_item changes_item-Removed">
                        <span class="changes_item-label">Removed</span><span class="changes_item-label-sep">:</span> @ChromiumUrl(change.OldStatus)
                    </li>
                }
                if (change.IsChanged)
                {
                    <li class="changes_item changes_item-Changed">
                        <span class="changes_item-label">Changed</span><span class="changes_item-label-sep">:</span> @ChromiumUrl(change.NewStatus)
                        @{ 
                            var (oldStatus, newStatus) = (change.OldStatus, change.NewStatus);
                        }
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", newStatus.Status, oldStatus.Status),
                                new ChangesTableRowViewModel("Flag", newStatus.Flag, oldStatus.Flag),
                                new ChangesTableRowViewModel("Prefixed", newStatus.Prefixed, oldStatus.Prefixed),
                                new ChangesTableRowViewModel("Android", newStatus.Android, oldStatus.Android),
                                new ChangesTableRowViewModel("Desktop", newStatus.Desktop, oldStatus.Desktop),
                                new ChangesTableRowViewModel("Ios", newStatus.Ios, oldStatus.Ios),
                                new ChangesTableRowViewModel("ShippedMilestone", newStatus.ShippedMilestone, oldStatus.ShippedMilestone),
                                new ChangesTableRowViewModel("ShippedOperaAndroidMilestone", newStatus.ShippedOperaAndroidMilestone, oldStatus.ShippedOperaAndroidMilestone),
                                new ChangesTableRowViewModel("ShippedOperaMilestone", newStatus.ShippedOperaMilestone, oldStatus.ShippedOperaMilestone),
                                new ChangesTableRowViewModel("ShippedWebViewMilestone", newStatus.ShippedWebViewMilestone, oldStatus.ShippedWebViewMilestone),
                            })
                        </table>
                    </li>
                }
                @*
                    <li>
                        NewStatus: @(change.NewStatus != null ? change.NewStatus.Id.ToString() : ""),
                        OldStatus: @(change.OldStatus != null ? change.OldStatus.Id.ToString() : "")
                    </li>
                *@
            }
        </ul>
    </section>
}
@if (Model.WebKitWebCoreChangeSet != null && Model.WebKitWebCoreChangeSet.Changes.Any())
{
    <section>
        <h1><a href="http://trac.webkit.org/browser/trunk/Source/WebCore/features.json"><img src="~/images/shared/Icon-WebKit.png" alt="" p-visibility="@(!Model.HideIcon)" />WebKit (WebCore)</a></h1>
        <ul class="changes">
            @foreach (var change in Model.WebKitWebCoreChangeSet.Changes.Cast<WebKitChangeInfo>())
            {
                if (change.IsAdded)
                {
                    <li class="changes_item changes_item-Added">
                        <span class="changes_item-label">Added</span><span class="changes_item-label-sep">:</span> @WebKitUrl(change.NewStatus)
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", change.NewStatus.Status.Status),
                                new ChangesTableRowViewModel("EnabledByDefault", change.NewStatus.Status.EnabledByDefault),
                            })
                        </table>
                    </li>
                }
                if (change.IsRemoved)
                {
                    <li class="changes_item changes_item-Removed">
                        <span class="changes_item-label">Removed</span><span class="changes_item-label-sep">:</span> @WebKitUrl(change.OldStatus)
                    </li>
                }
                if (change.IsChanged)
                {
                    <li class="changes_item changes_item-Changed">
                        <span class="changes_item-label">Changed</span><span class="changes_item-label-sep">:</span> @WebKitUrl(change.NewStatus)
                        @{
                            var (oldStatus, newStatus) = (change.OldStatus, change.NewStatus);
                        }
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", newStatus.Status.Status, oldStatus.Status.Status),
                                new ChangesTableRowViewModel("EnabledByDefault", newStatus.Status.EnabledByDefault, oldStatus.Status.EnabledByDefault),
                            })
                        </table>
                    </li>
                }
                @*
                    <li>
                        NewStatus: @(change.NewStatus != null ? change.NewStatus.Id.ToString() : ""),
                        OldStatus: @(change.OldStatus != null ? change.OldStatus.Id.ToString() : "")
                    </li>
                *@
            }
        </ul>
    </section>
}
@if (Model.WebKitJavaScriptCoreChangeSet != null && Model.WebKitJavaScriptCoreChangeSet.Changes.Any())
{
    <section>
        <h1><a href="http://trac.webkit.org/browser/trunk/Source/JavaScriptCore/features.json"><img src="~/images/shared/Icon-WebKit.png" alt="" p-visibility="@(!Model.HideIcon)" />WebKit (JavaScriptCore)</a></h1>
        <ul class="changes">
            @foreach (var change in Model.WebKitJavaScriptCoreChangeSet.Changes.Cast<WebKitChangeInfo>())
            {
                if (change.IsAdded)
                {
                    <li class="changes_item changes_item-Added">
                        <span class="changes_item-label">Added</span><span class="changes_item-label-sep">:</span> @WebKitUrl(change.NewStatus)
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", change.NewStatus.Status.Status),
                                new ChangesTableRowViewModel("EnabledByDefault", change.NewStatus.Status.EnabledByDefault),
                            })
                        </table>
                    </li>
                }
                if (change.IsRemoved)
                {
                    <li class="changes_item changes_item-Removed">
                        <span class="changes_item-label">Removed</span><span class="changes_item-label-sep">:</span> @WebKitUrl(change.OldStatus)
                    </li>
                }
                if (change.IsChanged)
                {
                    <li class="changes_item changes_item-Changed">
                        <span class="changes_item-label">Changed</span><span class="changes_item-label-sep">:</span> @WebKitUrl(change.NewStatus)
                        @{
                            var (oldStatus, newStatus) = (change.OldStatus, change.NewStatus);
                        }
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", newStatus.Status.Status, oldStatus.Status.Status),
                                new ChangesTableRowViewModel("EnabledByDefault", newStatus.Status.EnabledByDefault, oldStatus.Status.EnabledByDefault),
                            })
                        </table>
                    </li>
                }
                @*
                    <li>
                        NewStatus: @(change.NewStatus != null ? change.NewStatus.Id.ToString() : ""),
                        OldStatus: @(change.OldStatus != null ? change.OldStatus.Id.ToString() : "")
                    </li>
                *@
            }
        </ul>
    </section>
}
@if (Model.MozillaChangeSet != null && Model.MozillaChangeSet.Changes.Any())
{
    <section>
        <h1><a href="https://platform-status.mozilla.org/"><img src="~/images/shared/Icon-Firefox.png" alt="" p-visibility="@(!Model.HideIcon)" />Firefox</a></h1>
        <ul class="changes">
            @foreach (var change in Model.MozillaChangeSet.Changes.Cast<MozillaChangeInfo>())
            {
                if (change.IsAdded)
                {
                    <li class="changes_item changes_item-Added">
                        <span class="changes_item-label">Added</span><span class="changes_item-label-sep">:</span> @MozillaUrl(change.NewStatus)
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", change.NewStatus.Status),
                                new ChangesTableRowViewModel("Channel", change.NewStatus.Channel),
                                new ChangesTableRowViewModel("Version", change.NewStatus.Version),
                            })
                        </table>
                    </li>
                }
                if (change.IsRemoved)
                {
                    <li class="changes_item changes_item-Removed">
                        <span class="changes_item-label">Removed</span><span class="changes_item-label-sep">:</span> @MozillaUrl(change.OldStatus)
                    </li>
                }
                if (change.IsChanged)
                {
                    <li class="changes_item changes_item-Changed">
                        <span class="changes_item-label">Changed</span><span class="changes_item-label-sep">:</span> @MozillaUrl(change.NewStatus)
                        @{
                            var (oldStatus, newStatus) = (change.OldStatus, change.NewStatus);
                        }
                        <table>
                            @Html.Partial("Partial/ChangesTableRow", new[]
                            {
                                new ChangesTableRowViewModel("Status", newStatus.Status, oldStatus.Status),
                                new ChangesTableRowViewModel("Channel", newStatus.Channel, oldStatus.Channel),
                                new ChangesTableRowViewModel("Version", newStatus.Version, oldStatus.Version),
                            })
                        </table>
                    </li>
                }
                @*
                    <li>
                        NewStatus: @(change.NewStatus != null ? change.NewStatus.Id.ToString() : ""),
                        OldStatus: @(change.OldStatus != null ? change.OldStatus.Id.ToString() : "")
                    </li>
                *@
            }
        </ul>
    </section>
}
